[Unit]
Description=Mothics CLI Service
After=network.target

[Service]
User=%i
WorkingDirectory=%h/central-unit
ExecStart=/bin/bash %h/central-unit/cli.sh
ExecStop=/usr/bin/tmux kill-session -t mothics
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target

