{% extends 'base.html' %}

{% block content %}
<h2>Settings</h2>

{% if success %}
    <div class="alert alert-success" role="alert">
        Settings saved successfully!
    </div>
{% endif %}

<form method="post">
    <div class="mb-3">
        <label for="setting" class="form-label">Website refresh rate</label>
        <input type="text" class="form-control" id="auto_refresh_table" name="auto_refresh_table" placeholder="Enter value in seconds...">
    </div>
    <div class="mb-3">
        <label for="setting" class="form-label">Aggregator refresh rate</label>
        <input type="text" class="form-control" id="aggregator_interval" name="aggregator_interval" placeholder="Enter value in seconds...">
    </div>
    <button type="submit" class="btn btn-primary">Save Settings</button>
</form>
{% endblock %}
