<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mothics</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <!-- Header and Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Title -->
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="AST logo" height="30">
        Mothics
      </a>
      
      <!-- Toggler Button for Small Screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logs">Logs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">Settings</a>
          </li>
	  <li class="nav-item">
            <a class="nav-link" href="/tracks">Tracks</a>
          </li>
	</ul>
      </div>
    </div>
  </nav>
  
  <!-- Main Content Block -->
  <div class="container mt-4">
    {% block content %}
    <!-- Content will be inserted here by child templates -->
    {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="bg-light text-center text-muted py-3 border-top">
    <div class="container">
      <small>&copy; {{ current_year or 2025 }} - Audace Sailing Team </small>
    </div>
  </footer>
  
</body>
</html>
